<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Account Creation</h1>
    <br>
    <h2>User Details</h2>
    <form action="/create_account" method="post">
        <!-- name, age, email, phno, password -->
        <label for="name">Name (Enter Full Name)</label>
        <br>
        <input type="text" name="name" id="name" text="name">
        <br>
        <!-- <label for="age">Age</label>
        <br>
        <input type="number" name="age" id="age">
        <br>
        <label for="email">BCBS outlook email</label>
        <br>
        <input type="email" name="email" id="email" text="BCBS outlook email">
        <br>
        <label for="phno">Phone Number</label>
        <br>
        <input type="tel" name="phno" id="phno">
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" id="password">
        <br> <br> -->
        <input type="submit" value="Create Account">
    </form>
</body>
</html>